
.header {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 5;
  --circle-diameter: 150px;
}

.header-menu {
  display: none;
  width: 250px;
}

.header-menu-li {
  padding: 4px 0px;
  font-family: var(--font-playfair);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.header{
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  border-radius: var(--circle-diameter);
  background: black;
  transition: 0.4s;
}

.header-name {
  padding: 30px 0px;
}

.header-plus {
  font-size: 60px;
  font-family: var(--font-caveat);
  color: white;
  height: 0;
  position: relative;
  top: -40px;
  left: 150px;
}

.header-name-1, .header-name-2 {
  text-align: center;
  color: white;
  font-family: var(--font-caveat);
  font-size: 40px;
  font-weight: 700;
  transform: rotate(-5deg);
}

.header:hover{
  width: 250px;
  height: 300px;
  border-radius: 0;
}

.header:hover .header-menu{
  display: block;
}

.header-name:hover .header-name-1 {
  cursor: pointer;
}
.header-name:hover .header-name-2 {
  cursor: pointer;
}

.header-menu-li:hover {
  color: #f98779;
  cursor: pointer;
}
