
.header-menu {
  display: none;
}

.header-name {
  position: absolute;
  width: 50px;
  top: 10%;
  left: 10%;
  background: black;
  color: white;
  font-size: 20px;
  padding: 30px 28px;
  border-radius: 100px;
}

.header-name:hover{
  color: pink;
}
