
.header {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
}

.header-menu {
  display: none;
}

.header-name {
  width: 50px;
  background: black;
  color: white;
  font-size: 20px;
  padding: 30px 28px;
  border-radius: 100px;
}

.header-name:hover + .header-menu{
  display: block;
}



/*
referred by app academy:
sarah.ahmed@uber.com (apply directly with the link and email her)
*/
proper string (valid parenthesis)
spiderman bullshit
degree of an array
group anagrams =>

/* other resources for job search
gloat.com
delve for mobile app
shaper for mobile app -> networking  */
