.skills {
  width: 100%;
  height: 100%;
  background: #d8c035;
  background: #aec1d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-list {
  display: flex;
  justify-content: wrap;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 4em;
}
